App\Models\Post::create([
'title'=>'judul keenam',
'category_id'=>2,
'slug'=> 'judul-keenam',
'excerpt'=>'rerum molestias voluptas incidunt voluptatibus. Alias at deleniti, corporis sed rerum numquam ea sit ducimus labore eaque doloremque rem. Molestias necessitatibus consequuntur atque sequi iste.',

'body'=>'<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui optio sequi ut expedita veniam quibusdam quia itaque non culpa modi neque tempora consectetur facere sit eligendi maxime sunt, ducimus amet, blanditiis asperiores perferendis ea voluptas maiores inventore. Deleniti, deserunt consectetur? Accusantium praesentium sunt tempore modi vero possimus animi maxime doloribus ullam. Rem amet blanditiis ullam numquam reiciendis maxime aperiam voluptatum culpa,</p><p>rerum molestias voluptas incidunt voluptatibus. Alias at deleniti, corporis sed rerum numquam ea sit ducimus labore eaque doloremque rem. Molestias necessitatibus consequuntur atque sequi iste. Eius alias aut aperiam harum facilis veniam tempora aliquam? Corrupti omnis unde maxime. Hic, maxime odio. Corporis perspiciatis, ex quibusdam sunt atque nemo possimus obcaecati iure nesciunt, tempore, totam facere blanditiis omnis explicabo aperiam!</p>'])





App\Models\Category::create([
'name'=>'personal',
'slug'=> 'personal',
])


Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem recusandae nulla esse asperiores omnis. Minima eligendi placeat quae enim eos asperiores libero facere reiciendis porro, sint possimus soluta nisi culpa accusamus sit aliquam suscipit laboriosam harum corrupti impedit vel facilis? Mollitia et, quas adipisci eos necessitatibus inventore, magni quos voluptatum vitae error voluptate voluptatem voluptatibus earum facilis voluptates tenetur facere velit cupiditate quod quis totam ratione ducimus vero soluta. Deleniti, officia? Exercitationem nostrum vero, incidunt a quidem magni? Facere hic, odit culpa a cumque asperiores ex nostrum perspiciatis nemo, velit nisi? Impedit animi, dignissimos veniam explicabo sit nemo perspiciatis maxime?